# Portainer
PORTAINER_HOST="https://example.com"
PORTAINER_LOADBALANCER_PORT="9000"

# Headless Sveltekit Storefront
ENVIRONMENT="development"
BODY_SIZE_LIMIT='Infinity'
STOREFRONT_HOST="https://example.com"
STOREFRONT_LOADBALANCER_PORT="3000"

# Headless Medusa E-comm
MEDUSA_HOST="https://medusa.example.com"
MEDUSA_LOADBALANCER_PORT="4000"

# Headless Payload CMS 
PAYLOADCMS_HOST="https://payload.example.com"
PAYLOADCMS_LOADBALANCER_PORT="5000"

# WOOCOMMERCE
WOOCOMMERCE_HOST="https://woo.example.com"
WOOCOMMERCE_LOADBALANCER_PORT="8000"
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress

# WOOCOMMERCE MYSQL
MYSQL_ROOT_PASSWORD=somewordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress

# Redis
REDIS_PASSWORD=your_redis_password_here
