# SVELTEKIT
ENVIRONMENT="production"
BODY_SIZE_LIMIT='Infinity'

# MEDUSAJS BACKEND SETUP
PUBLIC_MEDUSA_BACKEND_URL="http://localhost:9000"
MEDUSA_BACKEND_URL="http://localhost:9000"
PUBLIC_MEDUSA_PUBLISHABLE_KEY=""

# WOOCOMMERCE
WOO_CONSUMER_KEY="supersecret"
WOO_CONSUMER_SECRET="supersecret"
WOO_USER="supersecretuser"
WOO_BACKEND_URL="http://localhost:8000"