# WORDPRESS
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress

# MYSQL
MYSQL_ROOT_PASSWORD=somewordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress


# SETTINGS
WP_URL=http://localhost:8000
WP_TITLE="Yulia Tabbouleh"
WP_TIMEZONE="Europe/Moscow"
WP_DESCRIPTION="Лучший магазин футболок с тематикой Ливана"
WP_ADMIN_USER=asafeeson
WP_ADMIN_PASS=3yn6t3yn
WP_ADMIN_EMAIL=g.kochergin@hotmail.com
WP_SECOND_ADMIN=
WP_SECOND_ADMIN_PASS=
WP_SECOND_ADMIN_EMAIL=
